.shops-container{
    background-color: #ffa599;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shops-heading-container{
        text-align: center;
        width: 45rem;
        background-color: #93392e; 
        margin: 18rem 0 0;
        height: 6.5rem;
        border-radius: 8px;
        padding: 1rem 0;
}

.shops-heading-container h1{
    width: 100%;
    text-align: center;
    color: rgb(250, 249, 249);
    font-size: 4rem;
    text-decoration: none;
}

.shops-items{
    background-color: #ffa599;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0 5rem 0;
}
