.card-container{
  margin: 3rem;
}

.card{
    margin: 30px 20px;
    width: 25rem;
    height: 25rem;
    /* width: 150px;
    height: 150px; */
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }

  .card_title p{
    color: pink;
  }

  .card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-btn button{
    width: 100px;
    height: 50px;
    font-size: 17px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card-btn button:hover{
    transform: scale(1.1);
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }


@media screen and (max-width: 669px) {
  .card-container{
    margin: .5rem;
  }
  .card{
    width: 20rem;
    height: 20rem;
    border-radius:20px
  }

  .card-btn button {
    width: 12rem;
    height: 6rem;
  }

  /* .card_image{
    width: inherit;
    height: inherit;
    border-radius: 20px;
  } */

  .card .card_image img{
    border-radius: 20px;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}




