.vegetable-heading-container{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #eeeeee;
    padding: 2rem 0;
    margin: 7rem 0 5rem 0;
}

.vegetable-heading-container h1{
    width: 100%;
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 5rem;
    text-decoration: underline;
}

.vegetable-item-container{
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 18rem 3rem 5rem 3rem;
}